<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apap.sudoku">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".di.App"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/sudoku_logo_round"
        android:roundIcon="@mipmap/sudoku_logo_round_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.game.activity.SudokuActivity" />
    </application>

</manifest>